// Font
$font-family: 'Lato', sans-serif;
$font-weight-regular: 400;
$font-size-default: 14px;

// Colors
$color-white: #fff;
$color-black: #000;

// Screen Sizes
$screen-sm: 564px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
